.input {
  all: unset;
  padding: 0 0.5rem;
  text-align: center;
  border-right: 1px solid rgba(var(--foreground-rgb), 0.15);
}

.input:hover {
  background-color: rgba(var(--background-rgb), 0.1);
}

.input:focus-within {
  outline: none;
  background-color: rgba(var(--background-rgb), 0.3);
}
