.results {
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  border-radius: var(--border-radius);
  padding: 1rem;
}

@media screen and (min-width: 40rem) {
  .results {
    padding: 1.5rem 2rem;
  }
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: rgb(var(--foreground-rgb-highlight));
  min-height: 66px;
  line-height: 1.75;
}
