.main {
  flex: 1 0 auto;
}

.title,
.description {
  color: rgb(var(--foreground-rgb-highlight));
  max-width: var(--max-width);
  margin: auto;
}

.title {
  font-size: clamp(1.3rem, 10vw, 2.5rem);
}

.description {
  font-size: clamp(1.1rem, 10vw, 1.75rem);
}

.footer {
  flex-shrink: 0;
  font-size: 0.8rem;
  width: 100%;
  max-width: var(--max-width);
  margin: 3rem auto 0 auto;
}
