.main {
  flex: 1 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (min-width: 400px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.breakout {
  max-width: calc(var(--max-width) * 1.5);
  margin: 3rem auto;
}
