.result {
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}

.result:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.resultLine {
  display: inline-grid;
  grid-template-columns: 24px 40% 40%;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.fiat {
  color: var(--text-dimmed);
}

.iconArrow {
  margin-left: 0.25rem;
}
