.form {
  display: inline-flex;
  border: 1px solid rgba(var(--foreground-rgb), 0.15);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: -0.15em 0.25rem 0 0.25rem;
  font-size: 0.9em;
}
