:root {
  --max-width: 40rem;
  --border-radius: 0.3rem;

  --foreground-rgb: 20, 20, 20;
  --foreground-rgb-highlight: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-gradient: radial-gradient(
    circle at 30% 0%,
    rgb(216, 225, 242) 0%,
    rgb(176, 187, 240) 30%,
    rgb(255, 255, 255) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 220, 220, 220;
    --foreground-rgb-highlight: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-gradient: radial-gradient(
      circle at 30% 0%,
      rgb(27, 40, 62) 0%,
      rgb(15, 18, 33) 30%,
      rgb(0, 0, 0) 100%
    );
  }
}
