.result {
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(var(--foreground-rgb), 0.1);
}

.result:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.resultLine {
  display: inline-grid;
  grid-template-columns: 24px 2fr 3fr;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.fiat {
  color: rgba(var(--foreground-rgb), 0.6);
}

.iconArrow {
  margin-left: 0.25rem;
}

.logo {
  margin-top: -0.15rem;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(var(--foreground-rgb), 0.5);
}

.logo img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  filter: grayscale(1);
}

.logo[data-symbol='AGIX'] img {
  filter: invert(1) grayscale(1) contrast(1.5);
}

@media (prefers-color-scheme: dark) {
  .logo[data-symbol='OCEAN'] img,
  .logo[data-symbol='FET'] img {
    filter: invert(1) grayscale(1);
  }

  .logo[data-symbol='AGIX'] img {
    filter: grayscale(1);
  }
}
